[user]
	name = devcomb
	email = james@devcomb.com
	token = a379cacd3d2ad37a17868c810777a22379aeab80
[credential]
	helper = store
[remote "origin"]
	url = https://devcomb:a379cacd3d2ad37a17868c810777a22379aeab80@github.com/devcomb/nginx-ex.git
[alias]
	br = development
